{% extends 'tasks/main.html' %}

{% block content %}
<h1>To Do</h1>

<form method="POST" action="/">
    {% csrf_token %}
    {{ form.title }}
    <input type="submit" name="Create Task">
</form>

{% for task in tasks %}
    <div class="card bg-primary">
        <div class="card-body">
            <a class="btn btn-warning btn-sm" href="{% url 'update_task' task.id %}">Update</a>
            <a class="btn btn-danger btn-sm" href="{% url 'delete' task.id %}">Delete</a>
                {% if task.completed == True %}
                    <s>{{ task }}</s>
                {% else %}
                    <span>{{ task }}</span>
                {% endif %}
        </div>
    </div>

{% endfor %}


{% endblock %}
